<i class="tiny material-icons" style="{{thisRating<1?'display:none':''}}">grade</i>
<i class="tiny material-icons" style="{{thisRating<2?'display:none':''}}">grade</i>
<i class="tiny material-icons" style="{{thisRating<3?'display:none':''}}">grade</i>
<i class="tiny material-icons" style="{{thisRating<4?'display:none':''}}">grade</i>
<i class="tiny material-icons" style="{{thisRating<5?'display:none':''}}">grade</i>
