extends layout

block content
  .row
    h4.orange-text=pageHeader.title
  -if (error=='val')
    .row
      .col.m6.s12
        .card.red
          .card-content.white-text
            span.card-title Atention:
            p All fields are required
  .row
    form#addReview.col.s12(action="#{url}" method="post")
      .row
        .input-field.col.s6
          input#first_name.validate(placeholder="Name" type="text" name="name")
          label(for="first_name") Name
      .row
        .input-field.col.s12
          select(name="rating")
            option(value="" disabled selected) Choose your option
            option(value="1") 1 Star
            option(value="2") 2 Stars
            option(value="3") 3 Stars
            option(value="4") 4 Stars
            option(value="5") 5 Stars
          label Rating
      .row
        .input-field.col.s12
          textarea#textarea1.materialize-textarea(name="review")
          label(for="textarea1") Comment
      .row
        button.btn.waves-effect.waves-light(type="submit" name="action") Submit
          i.material-icons.right send