extends layout

block content
  div(style="min-height:300px")
    #banner.page-header
      .row
        .col-md-6.col-sm-12
          h1= title
    .row
      .col-md-6.col-sm-12
        p !{(content).replace(/\n/g, '<br/>')}