doctype html
html(ng-app="loc8rApp")
  head
    meta(name='viewport',content='width=device-width,initial-scale=1.0')
    title= title
    link(rel='stylesheet',href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet',href='/stylesheets/materialize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.light-blue.lighten-1
      .nav-wrapper.container
        a#logo-container.brand-logo(href="/") Loc8r
        ul.right.hide-on-med-and-down
          li
            a(href="#") Navbar Link
        ul#nav-mobile.side-nav(style="left:-250px;")
          li
            a(href="#") Navbar Link
        a.button-collapse(data-activates="nav-mobile",href="#")
          i.material-icons menu
    .container
      h5 This example uses most of Simon Holmes's code from the book
        |Getting MEAN with Mongo, Express, Angular, and Node. Link to original source code 
        a(href="https://github.com/simonholmes/getting-MEAN") in github
        div(ng-view)
      block content
    
    footer.page-footer.orange
      .container
        .row
          .col.l6.s12
            h5.white-text Company Bio
            p.grey-text.text-lighten-4 We are a team of ...
          .col.l3.s12
            h5.white-text Settings
          .col.l3.s12
            h5.white-text Settings
      .footer-copyright
    
    script(src='/angular.min.js')
    script(src='/angular-route.min.js')
    script(src='/app.js')
    script(src='/common/services/loc8rData.service.js')
    script(src='/common/services/geolocation.service.js')
    script(src='/common/filters/formatDistance.js')
    script(src='/common/directives/ratingStars/ratingStars.directive.js')
    script(src='/home/home.controller.js')
    script(src='/javascripts/jquery-1.12.0.min.js')
    script(src='/javascripts/materialize.js')
    script(src='/javascripts/init.js')
    script(src='/javascripts/validation.js')