extends layout
include _includes/sharedHTMLFunctions

block content
  #banner.section.no-pad-bot
      h3.header.orange-text.left= pageHeader.title
      .row
  .row
    .col.s12.m9
      .row
        .col.s12.m6
          p
            +outputRating(location.rating)
          p= location.address
          
          .card.light-blue
            .card-content.white-text
              span.card-title Opening Hours
              each openingTime in location.openingTimes
                if !(openingTime.closed)
                  p #{openingTime.days} : #{openingTime.opening} - #{openingTime.closing}
                else
                  p #{openingTime.days}:closed
          .card.light-blue
            .card-content.white-text
              span.card-title Facilities
              each facilitie in location.facilities
                p
                  span= facilitie
        .col.s12.m6
          br
          .card
            .card-image
              img(src='http://maps.googleapis.com/maps/api/staticmap?center=#{location.coords.lat},#{location.coords.lng}&zoom=17&size=400x350&sensor=false&markers=#{location.coords.lat},#{location.coords.lng}&scale=2')
            .card-content
              span.card-title.black-text Location map
    .col.s12.m3
      .row
        p #{location.name} #{sidebar.context}
        p #{sidebar.callToAction}
  
  .row
    .col.m9.s12
      .row
        .col.s8
          h4 Reviews
        .col.s4
          a.waves-effect.waves-light.btn.light-blue(href="#{location._id}/review/new")
            i.material-icons.left add
            |Add review
      if location.reviews.length>0
        .row
          each review in location.reviews
            ul.collapsible(data-collapsible="accordion")
              li
                .collapsible-header
                  i.material-icons perm_identity
                  |#{review.author}
                  span.right
                    +outputRating(review.rating)
                .collapsible-body
                  p
                    +formatDate(review.createdOn)
                  p= review.reviewText
      else
      p No reviews yet