extends layout

include _includes/sharedHTMLFunctions

block content
  #banner.section.no-pad-bot
    .container
      h1.header.center.orange-text= pageHeader.title
      .row.center
        h5.header.col.s12.light &nbsp;#{pageHeader.strapline}
  br
  .row
    .col.s12.m8(ng-controller="locationsCtrlr")
      .row
        .input-field.col.s5
          input#filter.validate(type="text" name="filter" ng-model="textFilter")
          label(for="filter") Filter results
      .row
        .card-panel.red-text(style="{{message==''?'display:none;':''}}")
          i.material-icons.right report_problem
          p.center-align
            strong {{message}}
      .row
        ul.collection
          li.collection-item.avatar(ng-repeat="location in data.locations|filter : textFilter")
            a.title(href="location/{{location._id}}") {{location.name}} &nbsp;
            small(rating-stars rating="location.rating")
            span.white-text.orange.badge(style='font-weight:bold') {{location.distance | formatDistance}} 
            p {{location.address}}
              br
              span.white-text.orange.badge(ng-repeat="facility in location.facilities" style='font-weight:bold') {{facility}} &nbsp;
    .col.s12.m4
      strong
        p #{sidebar}
        
