<div class="block content">
    <div id="#banner" class="section no-pad-bot">
        <div class="container">
            <h1 class="header center orange-text">{{vm.pageHeader.title}}</h1>
            <div class="row center">
                <h5 class="header col s12 light">&nbsp;{{vm.pageHeader.strapline}}</h5>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col s12 m8">
            <div class="row">
                <div class="input-field col s5">
                    <input id="filter" ng-model="textFilter" class="validate" name="filter" type="text"/>
                    <label for="filter">Filter results</label>
                </div>
            </div>
            <div class="row">
                <div class="card-panel red-text">
                    {{vm.message }}
                </div>
            </div>
            <div class="row">
                <ul class="collection">
                    <li class="collection-item avatar" ng-repeat="location in vm.data.locations | filter : textFilter">
                        <a class="title" href="location/{{location._id}}">{{ location.name }} &nbsp;</a>
                        <small ratig-stars rating="location.rating"></small>
                        <span class="white-text orange badge" style="font-weight: bold">{{location.distance | formatDistance}}</span>
                        <p>{{location.address}}
                            <br/>
                            <span class="white-text orange badge" ng-repeat="facility in location.facilities" style="font-weight: 600">{{facility}} &nbsp;</span>
                        </p>
                    </li>
                </ul> 
            </div>
        </div>
        <div class="col s12 m4">
            <strong>
                <p class="lead">{{vm.sidebar.content }}</p>
            </strong>
        </div>
    </div>
</div>
